@{
    ViewBag.Title = "Home Page";
}


<div id="header">
    <div class="container">
        <h1>Careers & Education</h1>
        <h2 class="subtitle" style="text-align:justify">
                This project is developed to support the students, build their career and find pathways to higher education.
                Students can start looking for internships, part time jobs, industry based learning, scholarship jobs, etc.
                to gain relevant experience while studying. Providing students with personalised job board, discussion forums,
                notifications and news feed based on individual interests. High school students can find the right resources
                to pursue higher studies. They can get information about their choice of study like the list of the universities
                offering specific courses, contact information, application process, etc. Organizations can post job ads and look
                for potential candidates for specific roles based on different criteria.
        </h2>
        <form class="form-inline signup" role="form">
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search"/>
            </div>
            <button type="submit" class="btn btn-theme">Get it now</button>
        </form><br><hr />
        <div class="row">
            <div class="col-md-4">
                <div class="jumbotron">
                    <h2>Student</h2>
                    <p>
                        Student
                    </p>
                    <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="jumbotron">
                    <h2>Organization</h2>
                    <p>
                        Organization
                    </p>
                    <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="jumbotron">
                    <h2>Universities</h2>
                    <p>
                        Universities
                    </p>
                    <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>


</div>


