
<div id="header">
    <div class="container">
        <br><br><br><br>
        <ol class="breadcrumb">
            <li><a href="#">Post Jobs</a></li>
            <li><a href="#">Edit Jobs</a></li>
            <li><a href="#">Browse Profiles</a></li>
        </ol>
    </div>
</div>
<div id="footer">
    <div class="container">
        <footer>
            <p>&copy; @DateTime.Now.Year - Careers & Education</p>
        </footer>
    </div>
</div>
